body {
    font-family: Georgia, serif;
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: white;
}

img {
    width: 300px;
    cursor: pointer;
    transition: transform 0.2s;
}

img:hover {
    transform: scale(1.1);
}

#content {
    max-width: 800px;
    margin: auto;
    text-align: left;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    max-width: 800px;
    margin: auto;
}

.image-grid img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    transition: transform 0.2s;
}

.image-grid img:hover {
    transform: scale(1.1);
}